html {
    min-height: 100%;
}
body {
    background: linear-gradient(0deg, #efaf2f, #efcf2f);
    font-family: sans-serif;
    text-align: center;
}
input {
    display: inline;
    width: 30px;
}
#logo {
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #2f1f00;
    font-weight: bold;
    font-family: "Comic Sans MS";
}
.container {
    border: 5px solid #0000008f;
    border-radius: 8px;
    background-color: #ffffff4f;
    width: 800px;
    margin: auto;
}
.container h2 {
    margin-top: 2px;
    margin-bottom: 2px;
}
.container p {
    margin-bottom: 3px;
}
.container h2 + p {
    margin-top: 5px;
}
ul, ol {
    text-align: left;
}
.container ul, .container ol {
    margin-left: 50px;
    margin-right: 50px;
}
.small {
    font-size: 0.8em;
}
.container table {
    width: 90%;
    margin: auto;
    border: 1px solid #000000;
    border-collapse: collapse;
    margin-top: 3px;
    margin-bottom: 3px;
}
.container td {
    border: 1px solid #000000;
}
.container tr td:first-child {
    text-align: left;
}
.container tr td:last-child {
    text-align: right;
}